.b-app-modal--is-hidden {
  display: none;
}

.b-app-modal__close {
  position: absolute !important;
  top: 20px;
  right: 20px;
  padding: 8px 35px 7px 0;
  z-index: 993;
  font-size: 13px;
  opacity: 0.7;
  color: #a9a9a9;
  background: url(../images/popup-close-icon.png) no-repeat right center;
  cursor: pointer;
}

.b-app-modal__close:hover {
  opacity: 1;
}

.c-hidden {
  display: none;
}

select, input[type="file"] {
  height: auto;
}

.c-calc-panel {
  position: fixed;
  overflow: hidden;
  right: 0;
  top: 170px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.c-calc-panel img {
  max-width: 100%;
}

.c-calc-panel__item {
  white-space: nowrap;
  padding-right: 10px;
  position: relative;
  left: -50px;
  background-color: #ed1c21;
  color: #fff !important;
  margin-bottom: 3px;
  display: block;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.2s, left 0.2s;
  -moz-transition: transform 0.2s, left 0.2s;
  -ms-transition: transform 0.2s, left 0.2s;
  -o-transition: transform 0.2s, left 0.2s;
  transition: transform 0.2s, left 0.2s;
  will-change: transform left;
  cursor: pointer;
}

.c-calc-panel__item:hover {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  left: 0;
}

.c-calc-panel__item-icon {
  width: 33px;
  height: 33px;
  font-size: 1px;
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.c-calc-panel__item-title {
  font-size: 16px;
  display: inline-block;
}

.b-car-form .ui.divider {
  border: none;
}